*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
  background-color: #16183f !important;
  color: white !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li{
  list-style-type: none;
}

.detail-header{
  background-color: #22254b !important;
}

a{
  color: white !important;
}